body{
  
    background-color: mediumseagreen;
    text-align: center;
    
}
.main-container{
    box-shadow: 10px;
    padding-left: 10px;
    text-align: left;
    width: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto 0 auto;
    background-color: honeydew;
}
h3{
   
    color: black;
}
h2{
    color: black;
}
.submit{
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    
    
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
    margin-top: 5px;
    background-color: white;
}
#textarea{
    /*border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;*/
    width: 90%;
    height: 80px;

}
#fname, #email, #age {

width: 35%;

}